html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: white;
  overflow-x: hidden;
  position: relative; }

i {
  font-size: 3em;
  margin: 10px; }

a:visited, a:active {
  color: #337ab7;
  text-decoration: none; }
a:hover {
  color: #23527c; }
a:focus {
  text-decoration: none; }

.navbar-brand {
  color: black;
  transition: all 0.5s; }

.nav > li > a:focus {
  background-color: transparent;
  color: #337ab7; }

li {
  transition: all 0.5s; }

.active {
  background-color: seashell; }

.name {
  text-shadow: 1px 2px 3px #555; }

.popup {
  position: relative;
  display: inline; }

.hover {
  color: dodgerblue; }
  .hover:after {
    background: #fff;
    border-radius: 5px;
    top: 46px;
    left: -40%;
    content: attr(title);
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 0.4em;
    padding: 3px 10px;
    position: absolute;
    z-index: 98; }

.clicked {
  color: steelblue; }

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #333333; }

.icon-bar {
  background: #337ab7; }

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

  .top-nav-collapse {
    padding: 0;
    background-color: #333333; }
    .top-nav-collapse .navbar-brand {
      color: #337ab7; }
      .top-nav-collapse .navbar-brand:hover {
        color: dodgerblue; } }
@media (max-width: 768px) {
  .navbar-brand {
    color: #337ab7; } }
/* Intro Section */
.intro {
  height: 900px;
  background: url("../img/laptop-intro.jpg") no-repeat center center;
  background-size: cover; }

.intro-message {
  position: relative;
  padding-top: 25%;
  padding-bottom: 25%;
  color: #337ab7; }
  .intro-message h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 5em; }
  .intro-message h3 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }

/* About Section */
.about {
  padding-top: 40px;
  padding-bottom: 50px; }
  .about h1, .about h2 {
    color: #337ab7; }
  .about h1 {
    font-family: 'futura-pt', "Roboto Slab", serif;
    font-weight: bold; }
  .about img {
    width: 250px; }
  .about p {
    font-size: 1.1em;
    line-height: 1.1em;
    margin: 20px; }

.about-text {
  margin: 0 auto;
  max-width: 80%; }

/* Portfolio Section */
.portfolio {
  padding: 40px 0;
  background: url("../img/laptop-work-large.jpg") no-repeat center center; }
  .portfolio h1, .portfolio h3 {
    font-family: 'Roboto Slab', serif; }

.portfolio-overlay {
  background: rgba(0, 0, 0, 0.7);
  color: #337ab7; }

.portfolio-item {
  position: relative;
  margin: 15px 0;
  opacity: 0; }
  .portfolio-item img {
    width: 100%;
    max-width: 360px;
    max-height: 200px; }

.portfolio-hover {
  position: absolute;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  box-shadow: 0 0 15px 5px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s; }
  .portfolio-hover:hover {
    opacity: 1; }

.portfolio-hover-content {
  position: relative;
  top: 33%;
  left: 25%; }

.link-icon {
  display: inline-block;
  text-align: center; }
  .link-icon:hover, .link-icon:active, .link-icon:focus {
    text-decoration: none; }
  .link-icon p {
    margin-bottom: 1px;
    font-weight: bold; }

.portfolio-caption {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 15px; }
  .portfolio-caption h4 {
    color: #337ab7; }

/* Contact Section */
.contact {
  padding-top: 80px;
  padding-bottom: 160px; }
  .contact h2 {
    color: #337ab7; }

.contact-header {
  margin-bottom: 30px; }

#form-alert {
  opacity: 0;
  color: #3c763d; }
  #form-alert.error {
    color: #a94442; }

.form-control {
  background: #F0EDF2; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #F0EDF2 inset; }

#submit {
  width: 60px;
  height: 35px; }

.loading {
  display: none; }

.spinner {
  animation: spin 1s linear infinite;
  position: relative;
  bottom: 6px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* Footer Section */
footer {
  background: #333;
  padding-top: 20px;
  padding-bottom: 30px; }
  footer li {
    display: inline-block;
    margin-right: 40px;
    font-weight: bold; }
  footer a:hover, footer a:active, footer a:focus {
    text-decoration: none;
    color: dodgerblue; }
  footer span {
    position: relative;
    top: 1px; }

/* Fade In animation for future use. Current implementation with scrolling effect too slow on older laptop*/
.fadeIn {
  animation: fadeIn 2.5s;
  opacity: 1; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (max-width: 1200px) {
  .intro {
    height: 800px; }

  .portfolio-caption p {
    font-size: 0.8em; } }
@media (max-width: 1100px) {
  .intro {
    background-position: center 0px; } }
@media (max-width: 990px) {
  .portfolio {
    background: url("../img/laptop-work-large.jpg") no-repeat fixed; } }
@media (max-width: 974px) {
  .intro {
    height: 720px; }

  .intro-message h1 {
    font-size: 4em; }

  .portfolio-caption p {
    font-size: 0.9em; } }
@media (max-width: 900px) {
  .intro {
    height: 660px; } }
@media (max-width: 800px) {
  .intro {
    height: 500px; } }
@media (max-width: 775px) {
  .intro-message h1 {
    font-size: 3em; }

  .intro-message h3 {
    font-size: 1.2em; }

  .portfolio-item {
    margin-left: auto;
    margin-right: auto;
    width: 320px; }

  .portfolio h1 {
    font-size: 2em; }

  .portfolio h3 {
    font-size: 1.5em; }

  .portfolio-overlay {
    background: transparent; } }
@media (max-width: 600px) {
  .intro {
    height: 400px; }

  .about h1 {
    font-size: 24px; }
  .about h2 {
    font-size: 20px; }
  .about p {
    margin: 10px; }
  .about img {
    width: 200px; }

  i {
    font-size: 2em; }

  .hover:after {
    top: 36px;
    left: -50%;
    font-size: 0.5em; } }
@media (max-width: 480px) {
  .intro {
    height: 300px;
    background-position: center 20px; }

  .about p {
    margin: 5px; }

  i {
    font-size: 1.5em; }

  .hover:after {
    top: 30px;
    font-size: 0.6em; }

  .contact-header {
    margin-bottom: 12px; }
    .contact-header p {
      font-size: 12px; }
    .contact-header h2 {
      font-size: 20px; }

  #form-alert {
    font-size: 12px; }

  footer li {
    margin-right: 20px; } }
@media (max-width: 410px) {
  i {
    font-size: 1.1em; }

  footer li {
    margin-right: 10px; } }

/*# sourceMappingURL=style.css.map */
